@import 'https://cdn.jsdelivr.net/npm/destyle.css@4.0.1/destyle.min.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap';
:root {
  font-size: min(calc(100vw / 960 * 10), 10px);
}
body {
  font: 1.6rem / 1.5 Inter, 'Noto Sans JP', sans-serif;
  padding: 3.2rem;
}
[data-accordion] > div {
  background: rgb(0 0 0 / 0.1);
  border-radius: 0.8rem;
  overflow: hidden;
  & & {
    margin-top: 3.2rem;
  }
  & + & {
    margin-top: 1.6rem;
  }
}
[data-accordion-header] {
  font-weight: bold;
  user-select: none;
  & + * {
    & > * {
      opacity: 1;
      padding: 3.2rem;
      transition: 0.3s opacity;
    }
    &[hidden] > * {
      opacity: 0;
    }
  }
}
[data-accordion-button] {
  align-items: center;
  background: rgb(0 0 0 / 0.1);
  display: flex;
  justify-content: space-between;
  outline-offset: -2px;
  padding: 1.6rem;
  position: relative;
  transition-duration: 0.3s;
  transition-property: background, color;
  width: 100%;
  &::before {
    background: linear-gradient(100deg, #0000, #66c, #c69, #f96 50%, #0000);
    bottom: 0;
    content: '';
    display: block;
    height: 0.4rem;
    left: 0.8rem;
    opacity: 0;
    position: absolute;
    right: 0.8rem;
    transition: 0.3s opacity;
  }
  &::after {
    background: currentColor;
    clip-path: polygon(0 0, 15% 0, 50% 70%, 85% 0, 100% 0, 50% 100%);
    content: '';
    height: 0.8rem;
    transition: 0.3s rotate;
    width: 1.6rem;
  }
  &[aria-expanded='true'] {
    background: #000;
    color: #fff;
    &::before {
      opacity: 1;
    }
    &::after {
      rotate: 180deg;
    }
  }
  &:is([aria-disabled='true'], [disabled]) {
    background: none;
    color: rgb(0, 0, 0, 0.35);
  }
  &:not([aria-expanded='true']):hover {
    background: rgb(0 0 0 / 0.2);
  }
}
