@import '//y14e.github.io/common/stylesheets/common.css';

details {
  background-color: rgb(0 0 0 / 0.1);
  border-radius: 0.4rem;
  overflow: hidden;
  & & {
    margin-top: 3.2rem;
  }
  & + & {
    margin-top: 1.6rem;
  }
}
summary {
  align-items: center;
  background-color: rgb(0 0 0 / 0.1);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  outline-offset: -2px;
  padding: 1.6rem;
  position: relative;
  transition-duration: 0.3s;
  transition-property: background-color, color;
  user-select: none;
  &::-webkit-details-marker {
    display: none;
  }
  &::after {
    aspect-ratio: 1;
    background-color: currentColor;
    clip-path: polygon(0 25%, 15% 25%, 50% 60%, 85% 25%, 100% 25%, 50% 75%);
    content: '';
    transition: 0.3s rotate;
    width: 1.6rem;
  }
  [data-disclosure-initialized] > details[data-disclosure-open] > &,
  [data-disclosure]:not([data-disclosure-initialized]) > details[open] > & {
    background-color: #000;
    color: #fff;
    &::after {
      rotate: 180deg;
    }
  }
  &[tabindex='-1'] {
    background-color: transparent;
    color: rgb(0, 0, 0, 0.35);
  }
  details:not(:is([data-disclosure-open], [open])) > &:hover {
    background-color: rgb(0 0 0 / 0.2);
  }
  & + * > * {
    padding: 3.2rem;
  }
}
