@import 'https://cdn.jsdelivr.net/npm/destyle.css@4.0.1/destyle.min.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
@import 'index.css';

[role='menu'] {
  :is([data-menu-button], [aria-haspopup]) + & {
    [data-menu-button] + & {
      margin-top: unset;
    }
  }
  & & {
    left: unset;
    top: unset;
  }
}
