@import 'https://cdn.jsdelivr.net/npm/destyle.css@4.0.1/destyle.min.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';
:root {
  font-size: 10px;
}
body {
  font: 1.6rem / 1.5 Inter, sans-serif;
  padding: 3.2rem;
}
.menu {
  align-items: start;
  display: flex;
  flex-wrap: wrap;
  gap: 1.6rem;
}
[data-menu] {
  display: inline-block;
}
[data-menu-button] {
  align-items: center;
  background: rgb(0 0 0 / 0.2);
  border-radius: 0.4rem;
  display: flex;
  font-weight: bold;
  gap: 0.8rem;
  outline-offset: -2px;
  padding: 0.8rem 1.6rem;
  position: relative;
  transition-duration: 0.3s;
  transition-property: background, color;
  &::after {
    background: currentColor;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
    height: 0.4rem;
    transition: 0.3s rotate;
    width: 0.8rem;
  }
  &[aria-expanded='true'] {
    background: #000;
    color: #fff;
    &::after {
      rotate: 180deg;
    }
  }
  &:is([aria-disabled='true'], [disabled]) {
    background: rgb(0 0 0 / 0.1);
    color: rgb(0 0 0 / 0.35);
  }
  &:not([aria-expanded='true']):hover {
    background: rgb(0 0 0 / 0.3);
  }
}
[role='menu'] {
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0 0.2rem rgb(0 0 0 / 0.1), 0 0.4rem 0.8rem rgb(0 0 0 / 0.2);
  overflow: hidden;
  [data-menu-button] + & {
    display: none;
    margin-top: 0.4rem;
    position: absolute;
    transform: translateY(-0.4rem);
    transition: 0.3s transform;
    z-index: calc(infinity);
    [aria-expanded='true'] + & {
      transform: translateY(0);
    }
  }
}
[role='menuitem'] {
  cursor: pointer;
  display: block;
  outline-offset: -2px;
  padding: 0.8rem 1.6rem;
  transition: 0.3s background;
  width: 100%;
  &:is([aria-disabled='true'], [disabled]) {
    color: rgb(0 0 0 / 0.35);
    pointer-events: none;
  }
  &:hover {
    background: rgb(0 0 0 / 0.1);
  }
}
